

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
  width: 100%;
  height: 100vh;
}
header {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 30px;
}

nav {
    flex-direction: column;
  height: 300px;
  width: 44px;
  background-color: black;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  box-shadow:
    rgba(50, 50, 93, 0.25) 35px 30px 50px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

nav ul li {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  padding: 15px;
}

nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

nav ul li a img {
  height: 15px;
  width: 15px;
}

nav ul li:hover {
  background-color: #f1d5bbbc;
}

nav ul li:active {
  background-color: #f1d5bb83;
}

.nav-btn-active {
  background-color: #f1d5bb;
}

.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    background-color: black 1px;
}

.s1{
  width: 90px;
  height: 130px;
}


.s2{
    width: 90px;
  height: 130px;
}

.s3{
  width: 90px;
  height: 130px;
}
.s4{
  width: 90px;
  height: 130px;
}
.s5{

  width: 90px;
  height: 130px;
}
.s6{
  width: 90px;
  height: 130px;
}
.s7{
  width: 90px;
  height: 130px;
}
.s8{
  width: 90px;
  height: 130px;
}

.parent{
  position: absolute;
  top: 6px;
  left: 38px;
}

p{
  font-family: mulish;
}