*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
}


.textcenter1{
    position: absolute;
    top:229px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -139px;
    color: aliceblue;
    font-size:15px;
}

.textcenter2{
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -27px;
    color: aliceblue;
    font-size: 9px;



}

.btn1{
position: absolute;
top: 190px;
left: 30%;
margin-top: -1px;
width: 85px;
height: 30px;
border-radius: 2px;
font-size: 10px;
transition: 0.3s;
}


.btn:hover{
   background-color:bisque;
   border: none;
}


button:hover {
  background-color: #f1d5bbbc;
}

button:active {
  background-color: #f1d5bb83;
}



.btn2{
position: absolute;
top: 190px;
left: 50%;
margin-top: -1px;
width: 85px;
height: 30px;
border-radius: 2px;
font-size: 10px;
transform: 0.3s;
gap: 190px;
}

img{
    width: 100%;
    height: 100vh;
}

