body {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: center !important;
}

main {
  z-index: 1;
  padding: unset !important;
  margin: unset;
  height: 100vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  gap: 50px;
  padding: unset;
}

html {
  z-index: -10;
}

.background,
.background .carousel-inner,
.background .carousel-item {
  height: 100%;
}

.background {
  z-index: 0 !important;
  position: fixed !important;
  height: 100%;
  inset: 0;
  width: 100%;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: blur(2px);
}

/* Title */
.header-caption {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  width: 80%;
  font-size: 25px;
}

.header-caption h2 {
  font-size: 60px;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 25px;
}

/* Mobile */
@media (max-width: 1200px) {
  .header-caption h2 {
    font-size: 25px;
  }
}
