.underline {
  background-color: #f1d5bb;
  width: 100%;
  height: 5px;
}

.input {
  height: 25%;
  padding-left: 25px;
  font-size: 24px;
}

.button {
  height: 25%;
  width: fit-content;
  padding: 0 50px;
  background-color: black;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.656);
}
.button:active {
  background-color: rgba(0, 0, 0, 0.765);
}

.button:disabled {
  background-color: rgb(92, 92, 92);
  cursor: not-allowed;
}
