/* Button */
.button {
  padding: 15px;
  border-radius: 350px;
  color: black;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
  font-weight: 800;
  width: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.271);
  background-color: #d9ddd2;
}

.button:hover {
  background-color: rgb(214, 233, 216);
}
.button:active {
  background-color: rgb(210, 226, 209);
}

/* Btn Colors */
.primary {
  color: white;
  background-color: #9cab84;
}
.primary:hover {
  background-color: #c5d89d;
  color: gray;
}
.primary:active {
  background-color: #89986d;
  color: white;
}

/* division? */
.buttons {
  display: flex;
  gap: 15px;
  justify-content: start;
}

/* Aside */
.side {
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 30px;
}
