.underline {
  background-color: #f1d5bb;
  width: 100%;
  height: 5px;
}

.input {
  height: 25%;
  padding-left: 25px;
  font-size: 24px;
}

.button {
  width: fit-content;
  padding: 20px 50px;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: 0.3s;
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.656);
}
.button:active {
  background-color: rgba(0, 0, 0, 0.765);
}

.button-secondary {
  background-color: #ffffff;
  color: black;
  padding: 20px;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.button-secondary:hover {
  background-color: #c3c3c3;
}

.button:disabled {
  background-color: rgb(92, 92, 92);
  cursor: not-allowed;
}
