#main-content {
  display: flex;
  width: 100%;
  padding: 30px;
  justify-content: center;
  height: 100%;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-content {
  font-weight: 600;
  font-size: 20px;
}

.center-content img {
  width: 100%;
  height: 500px;
  border-radius: 7px;
}

@media (max-width: 800px) {
  #main-content {
    align-items: start;
  }

  .center-content {
    height: 300px;
  }
}
