#main-content {
  display: flex;
  width: 100%;
  padding: 30px 100px;
  justify-content: space-between;
  height: 100%;
  gap: 50px;
  align-items: center;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-content {
  font-weight: 600;
  font-size: 20px;
}

.center-content img {
  width: 100%;
  display: block;
  border-radius: 7px;
}

/* Section */
#info-2 {
  height: 200vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthespaces.com%2Fwp-content%2Fuploads%2F2017%2F05%2FPetersham-Nurseries-Garden-Cafe-London.jpg&f=1&nofb=1&ipt=efbfd6736109530808fa55e98642623f17636fad23f80047adef5e3b3fd679a5');
}

@media (max-width: 1200px) {
  .image-content {
    width: 700px;
  }

  .center-content img {
    height: 400px;
  }

  #main-content {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

@media (max-width: 680px) {
  main {
    padding: 20px;
  }

  .image-content {
    width: 350px;
  }

  .center-content img {
    width: 100%;
    height: 250px;
    border-radius: 7px;
  }

  .center-content {
    width: 100%;
  }
}
