/* Section 1 */
#main-content {
  display: flex;
  width: fit-content;
  padding: 0 100px;
  justify-content: space-between;
  height: 100%;
  gap: 50px;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  width: 100%;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}

.center-content img {
  width: 100%;
  object-fit: cover;
  height: 500px;
  max-height: 500px;
  border-radius: 7px;
}

.buttons {
  width: 100%;
}

/* Section 2 */
#info-2 {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  width: 100%;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthespaces.com%2Fwp-content%2Fuploads%2F2017%2F05%2FPetersham-Nurseries-Garden-Cafe-London.jpg&f=1&nofb=1&ipt=efbfd6736109530808fa55e98642623f17636fad23f80047adef5e3b3fd679a5");
}

#info-2 article {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#specs {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 50%;
  height: 60%;
  overflow: auto;
  border-radius: 0 0 50px 0;
  padding: 25px;
  gap: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#specs p {
  width: 70%;
}

@media (max-width: 1300px) {
  .image-content {
    width: 600px;
  }

  .center-content img {
    height: 300px;
  }

  #main-content {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .description {
    overflow: auto;
    height: 150px;
  }
  .description h1 {
    font-size: 20px !important;
  }

  .side {
    gap: 5px !important;
  }

  .buttons {
    justify-content: center !important;
  }

  #specs h1 {
    font-size: 28px;
  }
}

@media (max-width: 680px) {
  #main-content {
    padding: 30px;
  }

  .image-content {
    width: 350px;
  }

  .center-content img {
    width: 100%;
    height: 250px;
    border-radius: 7px;
  }

  .center-content {
    width: 100%;
  }

  .description {
    overflow: auto;
    height: 200px;
  }
  .description h1 {
    font-size: 20px !important;
  }

  .side {
    height: 200px;
    width: 100%;
  }

  .description {
    width: 100%;
  }

  #specs {
    width: 100%;
    height: 300px;
    overflow: scroll;
    border-radius: 0 0 50px 50px;
  }
}
