#main-content {
  display: flex;
  width: 100%;
  padding: 0 10%;
  justify-content: center;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-content {
  font-weight: 600;
  font-size: 20px;
}

.center-content img {
  width: 700px;
  height: 500px;
  border-radius: 7px;
}