/* Nav */
header {
  height: 80px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 1000;
  background-color: #f6f0d7;
  align-items: center;
  gap: 50px;
  padding: 0 50px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0 !important;
  margin: 0 !important;
  gap: 20px;
}

.logo {
  width: 325px;
}

.logo img {
  width: 100%;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 15px;
  font-weight: 800;
  transition: 0.3s;
}

nav a:hover {
  color: gray;
}

nav a:active {
  color: rgb(102, 102, 102);
}

#nav-toggle {
  display: none;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 20% !important;
}

@media (max-width: 1300px) {
  #nav-right {
    display: none;
  }

  #nav-toggle {
    display: flex;
  }
}

/* Responsiveness */
@media (max-width: 1100px) {
  header {
    justify-content: space-between;
  }

  nav {
    display: none;
  }
}
