* {
  padding: 0;
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

main {
  height: calc(200vh - 80px);
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.image-content {
  width: 750px;
  display: flex;
  align-items: center;
}
