* {
  padding: 0;
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;

  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

main {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}