main {
  padding-left: 140px;
  height: calc(100vh - 80px);
  width: 100vw;
  box-sizing: border-box;
}

.page-head {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 50px;
  position: relative;
  bottom: -30px;
}

.page-head h2 {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 50px;
}

/* Cart Content */
.content {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 50px;
  gap: 50px;
  box-sizing: border-box;
}

/* Items */
.items {
  height: 100%;
  width: 50%;
  background-color: #f1d5bb;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.items table {
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
}

.item {
  width: 100%;
  max-height: 100px;
  height: 100px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.item td {
  width: 80px;
  padding: 0 10px;
}

.item input {
  height: 20px;
  width: 50px;
}

.del-button {
  background: none;
  color: black;
  border: none;
  font-weight: 800;
  font-size: 40px;
  height: 80px;
  width: 80px;
  padding: 0;
  cursor: pointer;
}

/* Payment */
.payment {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.confirm {
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f1d5bb;
  padding: 50px;
  gap: 15px;
}

.promo {
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #f1d5bb;
  padding: 48px;
  gap: 15px;
}

/* Additional */

.confirm p {
  font-size: 30px;
}

.confirm button {
  width: 100%;
}

.confirm h3,
.promo h3 {
  font-size: 50px;
}

/* Mobile */
@media (max-width: 1200px) {
  .page-head {
    bottom: 50px;
  }
}

@media (max-width: 800px) {
  .page-head {
    bottom: inherit;
  }
}

@media (max-width: 1200px) {
  main {
    height: calc(100vh - 80px);
    padding-left: 0;
    padding-top: 80px;
  }

  .content {
    flex-direction: column;
    height: fit-content;
    padding: 15px;
    margin-top: 25px;
    align-items: center;
  }

  .items {
    width: 80%;
    height: 250px;
    padding: 50px;
  }

  .items table {
    padding: 0;
  }

  .item td {
    width: 20px;
    height: 20px;
  }

  .item img {
    width: 50px !important;
  }

  .payment {
    width: 100%;
    gap: 30px;
    height: fit-content;
    justify-content: unset;
  }

  .confirm,
  .promo {
    height: 300px;
  }
}
