@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;

  font-family: "Mulish";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-left: 150px;
  box-sizing: border-box;
}

main {
  padding-left: 140px;
  height: calc(100vh - 80px);
  width: 100vw;
  box-sizing: border-box;
}

.page-head {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
}

.page-head h2 {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 50px;
}

/* Mobile */

@media (max-width: 800px) {
  main {
    margin-top: 80px;
    padding-top: 0 !important;
  }

  .page-head {
    justify-content: center;
  }

  .page-head h2 {
    font-size: 24px;
  }
}

@media (min-width: 1000px) {
  main {
    padding-left: 100px !important;
    padding-top: 80px;
  }

  footer {
    padding-left: 130px !important;
    justify-content: start !important;
  }
}

@media (max-width: 1200px) {
  main {
    padding-left: 0px;
    height: unset;
  }

  .content {
    flex-direction: column;
    height: fit-content !important;
    padding: 15px;
    margin-top: 25px;
    align-items: center;
  }

  footer {
    padding: unset;
    justify-content: center;
  }
}
