.content {
  display: flex;
  gap: 50px;
  padding: 50px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.address {
  flex: 1;
  background-color: #f1d5bb;
  padding: 25px;
  box-sizing: border-box;
  min-width: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}

.address strong {
  font-size: 24px;
}

.address img {
  width: 100%;
  box-sizing: border-box;
}

.contacts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
  border: 1px solid #f1d5bb;
  justify-content: center;
  align-items: center;
}

.contacts .button {
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  position: relative;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.contacts .button:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.contacts .button:active {
  transform: translateY(0);
}

@media (max-width: 1000px) {
  .content {
    flex-direction: column;
    padding: 20px;
    gap: 30px;
  }

  .address {
    padding: 20px;
  }

  .contacts {
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .items {
    width: unset;
  }
}
