<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subshine Garden - Menyu</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../assets/styles/nav.css" />
    <link rel="stylesheet" href="../assets/styles/page.css" />
    <link rel="stylesheet" href="../assets/styles/menu.css" />

    <link rel="stylesheet" href="../assets/styles/framework.css" />
    <link rel="stylesheet" href="../assets/styles/typography.css" />

    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- BS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="../home.html"
          ><img src="../assets/images/logo-wide.png" alt="Sunshine Garden Logo"
        /></a>
      </div>

      <nav>
        <ul>
          <li><a href="../home.html">Əsas Səhifə</a></li>
          <li><a href="../templates/menu.html">Menyu</a></li>
          <li><a href="../templates/branches.html">Filiallar</a></li>
        </ul>
        <ul id="nav-right">
          <li><a href="../templates/about.html">Haqqımızda</a></li>
          <li><a href="../templates/contact.html">Əlaqə</a></li>
          <li>
            <a class="button primary" href="../templates/apply.html"
              >Bizə Qoşul</a
            >
          </li>
        </ul>
      </nav>

      <button id="nav-toggle" class="button primary">
        <i class="fa-solid fa-bars"></i>
      </button>
    </header>

    <!-- Main -->
     <main>
        <section id="main">

        </section>
     </main>
  </body>
</html>
